<a href="https://colab.research.google.com/github/4honestobs/SGU_HUYNTRGTIEN_DATA_ANALYTICS_2025/blob/main/1_1_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NHIỆM VỤ 2: KHÁM PHÁ VÀ XỬ LÝ DỮ LIỆU MARKETING CAMPAIGN

####Nguồn dữ liệu: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis

**#Clone git repo truy cập dữ liệu**

In [ ]:
!git clone https://github.com/4honestobs/SGU_HUYNTRGTIEN_DATA_ANALYTICS_2025.git

Cloning into 'SGU_HUYNTRGTIEN_DATA_ANALYTICS_2025'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 23 (delta 1), reused 16 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (23/23), 9.59 MiB | 9.98 MiB/s, done.
Resolving deltas: 100% (1/1), done.

**1. Import thư viện và nạp dữ liệu vào notebook**

In [ ]:
import pandas as pd
marketing_data = pd.read_csv("/content/SGU_HUYNTRGTIEN_DATA_ANALYTICS_2025/Data_Sets/marketing_campaign.csv", sep='\t')
marketing_data = marketing_data[['ID','Year_Birth', 'Education',
'Marital_Status','Income','Kidhome', 'Teenhome',
'Dt_Customer', 'Recency','NumStorePurchases',
'NumWebVisitsMonth']]

**2. Loại bỏ dữ liệu trùng lặp**

In [ ]:
marketing_data.head()
# Remove duplicates across the columns in our dataset:
marketing_data_duplicate = marketing_data.drop_duplicates()
# Delete a specified row at index value 1:
marketing_data.drop(labels=[1], axis=0)
# Delete a single column
marketing_data.drop(labels=['Year_Birth'], axis=1)

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,Graduation,Single,58138.0,0,0,04-09-2012,58,4,7
1,2174,Graduation,Single,46344.0,1,1,08-03-2014,38,2,5
2,4141,Graduation,Together,71613.0,0,0,21-08-2013,26,10,4
3,6182,Graduation,Together,26646.0,1,0,10-02-2014,26,4,6
4,5324,PhD,Married,58293.0,1,0,19-01-2014,94,6,5
...,...,...,...,...,...,...,...,...,...,...
2235,10870,Graduation,Married,61223.0,0,1,13-06-2013,46,4,5
2236,4001,PhD,Together,64014.0,2,1,10-06-2014,56,5,7
2237,7270,Graduation,Divorced,56981.0,0,0,25-01-2014,91,13,6
2238,8235,Master,Together,69245.0,0,1,24-01-2014,8,10,3
2239,9405,PhD,Married,52869.0,1,1,15-10-2012,40,4,7

**3. Thay thế dữ liệu và thay đổi định dạng của dữ liệu**

In [ ]:
# Replace the values in Teenhome with has teen and has no teen
marketing_data['Teenhome_replaced'] = marketing_data['Teenhome'].replace([0,1,2],['has no teen','has teen','has teen'])
# Fill NAs in the Income column
marketing_data['Income'] = marketing_data['Income'].fillna(0)
# Change the data type of the Income column from float to int
marketing_data['Income_changed'] = marketing_data['Income'].astype(int)

**4. Xử lý dữ liệu thiếu**

In [ ]:
# Check for missing values using the isnull and sum methods
marketing_data.isnull().sum()
# Drop missing values using the dropna method
marketing_data_withoutna = marketing_data.dropna(how = 'any')
marketing_data_withoutna.shape

(2240, 13)